<div id="team">
    <h1>The Team</h1>
    <div class="row">
        <img src="images/ashiq.jpg" alt="Ashiq" class="column">
        <img src="images/mathew.jpeg" alt="Mathew" class="column">
        <img src="images/priyanshu.jpeg" alt="Priyanshu" class="column">
        <img src="images/ryan.jpeg" alt="Ryan" class="column">
    </div>
    <div class="row">
        <p class="name-column">Ashiq Noor Sudheer</p>
        <p class="name-column">Mathew Thomas</p>
        <p class="name-column">Priyanshu Pattanaik</p>
        <p class="name-column">Ryan Ranjit Abraham</p>
    </div>
</div>