*{
    font-family: 'Lora', serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    /* background: linear-gradient(-56deg, rgb(67, 0, 0), #4044af, #5215ec, #0306cd) !important; */
    background-color: #eaeaea;
	animation: gradient 5s ease infinite;
}

.hero{
    margin-left:0.2%;
    margin-right:2%;
    width:100%;
    min-height: 70vh;
    padding: 2% 10%;
    overflow: hidden;
    position: relative;
}

.feature{
    width:530px;
    position:absolute;
    bottom:2vw;
    right:1vw;
}

#main1,#main2,#main3{
    font-size: 20px;
    margin-top:auto;
    color:rgb(49, 46, 238);
}


#main1:hover{
    font-size: 25px;
    transition: 0.4s;
}

#main2:hover{
    font-size: 25px;
    transition: 0.4s;
}

#main3:hover{
    font-size: 25px;
    transition: 0.4s;
}

.content{
    float: left;
    margin-top: 12%;
    /* max-width: 600px; */
}

.subtitle{
    font-size: 1.5rem;
    color: rgb(49, 46, 238);
}

.highlight{
    font-size: 2.6rem;
    color:red;
}

.title{
    font-size: 2.6rem;
    color:rgb(49, 46, 238);
    margin-bottom: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .feature {
        display: none;
    }
}