*{
    font-family: 'Lora', serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    /* background: linear-gradient(-56deg, rgb(67, 0, 0), #4044af, #5215ec, #0306cd) !important; */
    background-color: #eaeaea;
	animation: gradient 5s ease infinite;
}

.hero{
    margin-left:2%;
    margin-right:2%;
    width:100%;
    min-height: 70vh;
    padding: 2% 10%;
    overflow: hidden;
    position: relative;
}

.feature{
    width:530px;
    position:absolute;
    bottom:15%;
    right:8%;
}

#main1,#main2,#main3{
    margin-top:auto;
    color:rgb(49, 46, 238);
}


#main1:hover{
    background-color: grey;
    border: 0.2rem solid black;
}

#main2:hover{
    background-color: grey;
    border: 0.2rem solid black;
}

#main3:hover{
    background-color: grey;
    border: 0.2rem solid black;
}

.content{
    float: left;
    margin-top: 12%;
    /* max-width: 600px; */
}

.subtitle{
    font-size: 20px;
    color: rgb(49, 46, 238);
}

.highlight{
    color:red;
}

.title{
    color:rgb(49, 46, 238);
    margin-bottom: 5%;
}