#team{
    margin-left:4.8%;
    margin-right:4.8%;
}
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1%;
}

.column {
    width: 15%;
    height: 15%;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.row {
    padding-top:3%; 
    text-align: center;
}

.name-column {
    width: 20%;
    display: block;
    margin: auto;
    padding-bottom: 2%;
}

#about-us h1 {
    padding-top: 1%;
}

#about-us p {
    font-size: 1.2rem;
}